.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.container iframe {
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}
