.movie {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
}

.movie img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.movie img {
  opacity: 0.7;
}

.movie img:hover {
  opacity: 1;
}

.movie a {
  text-align: center;
}
